.header
{
	width:100%;
	height:10%;
	background-color:green;
	text-align:center;
	border:solid;
	
}
.container
{
	width:100%;
	height:500px;
	background-color:#d0e4fe;

	border:solid;
	text-align:center;

}
.footer
{
	width:100%;
	height:100px;
	background-color:green;
	border:solid;
	text-align:center;

}
.sub_container
{
	background-image-width:300px;
	background-image-height:50%;
	text-align:center;


}

